* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
}

.header {
    display: flex;
}

.logo {
    flex-grow: 1;
}

.location-bar {
    display: flex;
    justify-content: space-between;
}

.map-container {
    max-width: 60%;
}

.info-container {
    width: 200px;
}

